@use '../abstracts/breakpoints' as bp;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

footer {
  background-color: var(--main-bg);
  min-height: v.$footer-height;
  height: auto;
  border-top: 1px solid var(--main-border-color);

  @extend %text-xs;

  @include bp.lt(bp.get(lg)) {
    @include mx.slide;

    min-height: v.$footer-height-large;
    height: auto;
    padding: 1.5rem 0;
  }

  a {
    @extend %text-highlight;

    &:hover {
      @extend %link-hover;
    }
  }

  em {
    @extend %text-highlight;
  }

  p {
    text-align: left;
    margin-bottom: 0;
  }
  .clustrmaps-widget {
    width: 100%;
    max-width: 300px;
    margin: 0.5rem 0 0 auto;
    text-align: right;
    overflow: hidden;
  }

  .clustrmaps-widget iframe,
  .clustrmaps-widget img,
  .clustrmaps-widget canvas,
  .clustrmaps-widget svg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 0 auto;
  }

  @media (max-width: 576px) {
    .clustrmaps-widget {
      max-width: 90vw;
    }
  }
}







